dj-database-url==0.5.0
Django==3.0.14
django-bootstrap4==1.1.1
django-money==1.0
django-money-rates==0.3.1
djangorestframework==3.11.0
freezegun==0.3.15
gunicorn==20.0.4
ipython==7.12.0
newrelic==5.8.0.136
prospector==1.2.0
psycopg2==2.8.4
pycodestyle==2.4.0
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.5.2
pylint==2.4.4
redis==3.4.1
whitenoise==5.0.1
djoser==2.0.3
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0